.container {
    height: 100vh;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    display: flex;
}

.showListItem {
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

