.container {
    height: 100vh;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    display: flex;
}

.showListItem {
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.selector {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
}

.priceMenu {
    padding: 1vw;
    margin: 2.5vw;
}

.buyCard{
    padding: 1vw;
    margin: 2.5vw;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 10vh;
}
